
body {
	background-image: url("../images/brickwall_@2X.png");
}


.divBanner-1 {
	background-color: White;
	height: 80px;

}

.divBanner-1 h2 {
	background-color: #4aaaa5;
	text-align: center;
	border: 0px;
	padding: 10px;
	font-size: 22px;
	color: White; 
	height: 80px;
	padding-top: 25px;

}






.divNavigationBarCont {
	background-color: #ffffff;
	height: 80px;


}


.divNavigationBar ul {
    list-style-type: none;
    margin-top: 25px;
	
    background-color: #ffffff;
    font-size: 15px;
}

.divNavigationBar li {
	display: inline;
	padding-right: 10px;
	padding-left: 10px;
	border-left: solid 1px Gray;
}

.divNavigationBar li a {
	text-decoration: none;
	font-family: "Georgia", "Times", "Times New Roman", "serif"; 
	color: Gray; 
}

.divBox1 {
	height: 300px;
	width: 100px;
	background-color: blue;
	border: solid 2px Gray;

}

.divMainSection {
	width: 350px;
	height: 650px;
	margin-top: 35px;
	background-color: #ffffff;
	border: solid 1px #cccccc;
	float: left;
	border: dotted 1px Gray;
	margin-right: 40px;

}

.divMainSection	 h1 {
	color: #4aaaa5;
	font-size: 24px;
	font-family: "Georgia", "Times", "Times New Roman", "serif";  
	border-bottom: dotted 1px Gray;
	padding-top: 20px;
	padding-bottom: 25px;
	margin-left: 25px;
	margin-right: 25px;
}




.divMainSection h2 {
	color: Gray;	
	font-family: "Georgia", "Times", "Times New Roman", "serif";  
	font-size: 20px;
	margin-left: 25px;
	margin-right: 25px;
}


.divMainSection img {
	width: 100px;
	height: 100px;
	border: dotted 1px #dddddd;
	float: left;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 25px;
}

.divMainSection p {
	font-size: 15px;
	font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
	color: #777777;
	line-height: 1.5;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 25px;
}

.divSideBar {
	width: 268px;
	height: 200px;
	margin-top: 35px;
	background-color: #ffffff;
	border: solid 1px #cccccc;
	float: left;
}

.divSideBar h2 {
	color: #4aaaa5;
	font-family: "Georgia", "Times", "Times New Roman", "serif";  
	font-size: 25px;
	text-align: center;
	margin-top: 25px;
	padding-bottom: 1px;
}


.imgContainer {
	width: 260px;
	height: 75px;
	margin: 0 auto;
	padding-top: 25px;
	border-top: solid 1px Gray;
}


.imgContainerGithub {
	float: left;
	margin-left: 30px;
}

.imgContainerLinkedin {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.imgContainerStackoverflow {
	float: right;
	margin-right: 30px;
	margin-top: 35px;
}



@media (max-width: 680px) {

	.divNavigationBarCont {
		background-color: #ffffff;
		height: 50px;
		
	}


	.divNavigationBar ul {
    	list-style-type: none;
    	margin-top: 20px;
		text-align: justify;
    	background-color: #ffffff;
    	font-size: 12px;

	}

	.divNavigationBar li {
		display: inline;
		padding-right: 50px;
		padding-left: 50px;
		border-left: White;
		text-align: justify;
	}
		

	.divMainSection p {
		font-size: 12px;
		font-family: "Arial", "Helvetica Neue", "Helvetica", "sans-serif";
		color: #777777;
		line-height: 1.5;
		margin-left: 45px;
		margin-right: 50px;
		margin-top: 25px;
		text-align: justify;
}
		


	.divMainSection {
		width: 600px;
		height: 630px;
		
		background-color: #ffffff;
		border: solid 1px #cccccc;
		border: dotted 1px Gray;
		margin: 0 auto;
		margin-top: 35px;
		
		

	
	}

	.divMainSection img {
		width: 410px;
		height: 300px;
		border: dotted 1px #dddddd;
		margin-bottom: 10px;
		margin-left: 45px;
		margin-right: 30px;
		margin-top: 25px;
}
		
		
}

	



}


